.Input__body {
    display: flex;
    background-color: white;
    border: 1px solid #9cb9d1;
    border-radius: 10px;
    color: black;
    padding: 0 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

.Input__body__invalid {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 2px rgba(255, 0, 0, 0.73);
    padding: 0 10px;
    margin-bottom: 10px;
    cursor: no-drop;
    color: black;
}

.clear {
    padding-bottom: 7px;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 550px) {
    .clear {
        padding-bottom: 4px;
    }
}

.clear:hover {
    transition: transform 0.3s;
    transform: scale(1.4);
}

.clear:active {
    transition: 3s;
    color: #5eafda;
}

input {
    all: unset;
    text-align: start;
    color: black;
    width: 230px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px 0 0;
    align-items: flex-start;
}
